body{
    background-color: blue;
    background-image: url("img/nes.png");
    background-size: 1900px 950px;
    background-repeat: no-repeat;

}
#start, #game-over {
    background-image: url(img/goomba.gif);
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    margin: auto;
    position: fixed;
    width: 1300px;
    height: 800;
    text-align: center;
}
#start a, #game-over a{
border: 3px;
color: brown;
padding: 10px;
border-radius: 15px;
cursor: pointer;
display: block;
width: 200px;
text-align: center;
font-size: 2em;
display: inline-block;
 }

#start a:hoover, #game-over a:hoover {
    background-color: aqua;
    color: aquamarine;
}