body{
    background-color: black;
    background-image: url("img/mario4.png");
    background-size: 1900px 950px;
    background-repeat: no-repeat;
    ba

}
img {    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}



#score {
    text-align: center;
    color: red;
}
#game {
    width: 1300px;
    height: 800px;
    border: 2px solid black;
    margin: auto;
    background:  url("img/back.jpg") repeat-x;
    overflow: hidden;
    background-size: cover;
    animation: marioworld 6s linear infinite;

}
#mario{
    height: 175px;
    width: 175px;
    position: relative;
    top: 520px;
    background-image: url("img/mario.webp");
    background-size: cover;
    
}
#goomba{
    height: 55px;
    width: 55px;
    position: relative;
    top: 465px;
    left: 1300px;
    background-image: url("img/goomba.gif");
    background-size: cover;
    animation: goomba 2s infinite;
    
}
@keyframes goomba {
    0%{left: 1250px;}
    100%{left: -350px;}
}
.jump{
    animation: jump 0.5s;
}
@keyframes jump {
    0%{top: 450px;}
    50%{top: 90px;}
    75%{top: 90px;}
    100%{top: 720;}

}
@keyframes marioworld {
    from{
        background-position: 3000px;
    }
    to{background-position: -1300px;
    }
     }